*{
    margin: 0;
    padding: 0;  
}

body{
    background-color: #008080;
    text-align: center;
}

.container{
    height: 70vh;
    display: flex;    /*In all box in single line*/
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;    /*In all box in single line*/
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}

#btn{
   height: 18vmin; 
   width: 18vmin;
   border-radius: 1rem;
   border: none;
   box-shadow: 0 0 1rem rgba(0,0,0,0.3);  /*black shadow*/
   font-size: 8vmin;
   color: darkred;
   background-color: bisque;
}

#reset{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: black;
    color: white;
    border-radius: 1rem;
    border: none;   
}

.msg_container{
  height: 100vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;

}
.msg{
    color: darkorange;
    font-size: 5vmin;

}

#new_btn{
    padding: 1rem;
    font-size: 1.25rem;
    background-color: black;
    color: white;
    border-radius: 1rem;
    border: none;   
}
.hide{
    display: none;

} 